<div class="container mt-5">
  <h1 class="mb-4 text-center">Detalhes do Usuário</h1>
  <div class="card p-4">
    <p><strong>ID:</strong> <%= user.id %></p>
    <p><strong>Matrícula:</strong> <%= user.matricula %></p>
    <p><strong>Nome:</strong> <%= user.nome %></p>
    <p><strong>E-mail:</strong> <%= user.email %></p>
    <p><strong>Idade:</strong> <%= user.idade %></p>
    <p><strong>Regra:</strong> <%= user.role %></p>
  </div>
  <a href="/usuarios" class="btn btn-primary mt-3">Voltar à lista</a>
