<h1>material Details</h1>
<p>ID: <%= material.id %></p>
<p>Nome: <%= material.nome %></p>
<p>Descrição: <%= material.descricao %></p>
<p>Preço: <%= material.preco %></p>
<p>Quantidade: <%= material.quantidade %></p>
<p>Categoria: <%= material.categoria_nome %></p>
<a href="/material" class="btn btn-primary">Back to List</a>
