<div class="container mt-5">
  <h2 class="text-center mb-4" style="color: #6c757d;">Detalhes do Material</h2>
  <div class="card p-4 shadow-sm" style="max-width: 900px; margin: auto; background-color: #f8f9fa;">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <p class="text-secondary"><strong class="text-dark">Título:</strong> <%= material.titulo %></p>
        <p class="text-secondary"><strong class="text-dark">Autor:</strong> <%= material.autor %></p>
        <p class="text-secondary"><strong class="text-dark">Editora:</strong> <%= material.editora %></p>
        <p class="text-secondary"><strong class="text-dark">Ano de Publicação:</strong> <%= material.ano_publi %></p>
        <p class="text-secondary"><strong class="text-dark">ISBN:</strong> <%= material.ISBN %></p>
        <p class="text-secondary"><strong class="text-dark">Idioma:</strong> <%= material.idioma %></p>
        <p class="text-secondary"><strong class="text-dark">Número de Páginas:</strong> <%= material.n_paginas %></p>
        <p class="text-secondary"><strong class="text-dark">Tipo:</strong> <%= material.tipo %></p>
        <p class="text-secondary"><strong class="text-dark">Prateleira:</strong> <%= material.prateleira %></p>
        <p class="text-secondary"><strong class="text-dark">Data de Aquisição:</strong> <%= material.data_aquisicao.toISOString().split('T')[0] %></p>
        <p class="text-secondary"><strong class="text-dark">Categoria:</strong> <%= material.categoria_nome || 'Não especificada' %></p>
      </div>
    </div>

    <div class="text-center mt-4">
      <a href="/material/<%= material.n_registro %>/edit" class="btn btn-sm btn-primary">Editar</a>
      <a href="/material/pesquisar" class="btn btn-sm btn-secondary">Voltar</a>
    </div>
  </div>
</div>