<div class="container-custom" style="margin-top: 10px;">
  <div style="
    max-width: 600px;
    margin: auto;
    background-color: #283372;
    border-radius: 20px;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
    padding: 12px;
  ">
    <h2 class="text-center mb-3" style="color: #cebaba;">Detalhes</h2>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <p><strong>Título:</strong> <%= material.titulo %></p>
        <p><strong>Autor:</strong> <%= material.autor %></p>
        <p><strong>Editora:</strong> <%= material.editora %></p>
        <p><strong>Ano de Publicação:</strong> <%= material.ano_publi %></p>
        <p><strong>ISBN:</strong> <%= material.ISBN %></p>
        <p><strong>Idioma:</strong> <%= material.idioma %></p>
        <p><strong>Número de Páginas:</strong> <%= material.n_paginas %></p>
        <p><strong>Tipo:</strong> <%= material.tipo %></p>
        <p><strong>Prateleira:</strong> <%= material.prateleira %></p>
        <p><strong>Data de Aquisição:</strong> <%= material.data_aquisicao.toISOString().split('T')[0] %></p>
        <p><strong>Categoria:</strong> <%= material.categoria_nome || 'Não especificada' %></p>
        <p>
          <strong>Situação:</strong>
          <% if (material.situacao === 'disponivel') { %>
            <span class="badge badge-success">Disponível</span>
          <% } else { %>
            <span class="badge badge-warning">Indisponível</span>
          <% } %>
        </p>
      </div>
    </div>

    <div class="text-center mt-3">
      <a href="/material/<%= material.n_registro %>/edit" class="btn btn-sm btn-custom">Editar</a>
      <a href="/material/pesquisar" class="btn btn-sm btn-custom">Voltar</a>
    </div>
  </div>
</div>